@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Noto+Sans+Mono&family=Orbitron&display=swap');


:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Orbitron', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  margin: 0;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

 
}


/* * {
  border: 5px solid red;
} */

/* html,
body,
section {
  block-size: 100%;
} */

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-width: 320px;
  min-height: 100vh; */
  
}

html {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* section:nth-of-type(even) {
  color: white;
  background: black;
}

section:nth-of-type(odd) {
  color: black;
  background: white;
} */

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

