:root {
  line-height: 1.5;
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
  margin: 1rem;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;
}

.link {
  text-decoration: none;
  color: yellow;
}

input {
  height: 1.5rem;
}

.customRange {
  -webkit-appearance: none;
  appearance: none;
  background: white;
  height: 1px;
  cursor: pointer;
  width: 15rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: 0px; /* Centers thumb on the track */
  background-color: white;
  height: 2rem;
  width: 1rem;
}
