@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Noto+Sans+Mono&family=Orbitron&display=swap');


:root {
  font-family: 'Orbitron', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  margin: 0;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

 
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;

  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}


/* --------------- Hamburger START ---------------- */

.checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 19px;
  right: 22px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background-color: #ffffff;
  opacity: 60%;
}

.hamburger-lines .line1 {
  transform-origin: 100% 0%;
  transition: transform 0.4s ease-in-out;
}

.hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.hamburger-lines .line3 {
  transform-origin: 100% 100%;
  transition: transform 0.4s ease-in-out;
}

.checkbox:checked~.menu-items {
  transform: translateX(0);
}

.checkbox:checked~.hamburger-lines .line1 {
  transform: rotate(-45deg);
}

.checkbox:checked~.hamburger-lines .line2 {
  transform: scaleY(0);
}

.checkbox:checked~.hamburger-lines .line3 {
  transform: rotate(45deg);
}

/* --------------- Hamburger END ---------------- */