:root {
  line-height: 1.5;
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
  margin: 1rem;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;
}

.link {
  text-decoration: none;
  color: yellow;
}

input {
  height: 1.5rem;
}

.button:hover {
  color: yellowgreen;
}
